table {
    width: 100%;
    font-size: large;
}

.title-with-tools {
    position: relative;
    margin-bottom: 5px;
    
    h1{        
        float: left;
    }
    .buttons {
        position: absolute;
        float: right;
        right:0px;
        bottom: 0px;
        padding: 10px;
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    } 
}